<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/panda/static/assets/favicon.png">

    <title>Panda Pose Estimation Tool</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js"></script>

    <script type="text/javascript" src="/panda/static/js/utils/generator.js"></script>
    <script type="text/javascript" src="/panda/static/js/utils/values.js"></script>
    <script type="text/javascript" src="/panda/static/js/utils/vector2d.js"></script>

    <script type="text/javascript" src="/panda/static/js/api/call.js"></script>

    <script type="text/javascript" src="/panda/static/js/models/frame.js"></script>
    <script type="text/javascript" src="/panda/static/js/models/joint.js"></script>
    <script type="text/javascript" src="/panda/static/js/models/selector.js"></script>
    <script type="text/javascript" src="/panda/static/js/models/skeleton.js"></script>

    <script type="text/javascript" src="/panda/static/js/canvas/sketch.js"></script>

    <script type="text/javascript" src="/panda/static/js/main.js"></script>

    <link rel="stylesheet" href="/panda/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <script>
      let VIDEO_URL  = '{{ url|safe }}';
    </script>
    <button id="BACK" onclick="backToList()"><i class="fas fa-arrow-left"></i></button>

    <div id='cards'>
      <div id="card">
        <div id="card-canvas"></div>

        <div id='card-controls'>
          <button id="FIRST" onclick="firstFrame()" ><i class="fas fa-fast-backward"></i></button>
          <button id="PREV"  onclick="prevFrame()"  ><i class="fas fa-step-backward"></i></button>
          <button id="PREVIEW" onclick="playVideo()"><i class="fas fa-play"></i></button>
          <button id="NEXT"  onclick="nextFrame()"  ><i class="fas fa-step-forward"></i></button>
        </div>
      </div>

      <div id="card">
        <div id="STATUS">
          <div id='STATUS-HEALTH'></div>
          <div id='STATUS-LOADING'></div>
          <div id='STATUS-TEXT'>
            <div>UNPROCESSED</div>
            <div>PENDING</div>
            <div>VERIFIED</div>
          </div>
        </div>
      </div>

      <div id="little-card">
        <div id='card-submit-controls'>
          <button id="SUBMIT" onclick="submitVideo()">VERIFY</button>
        </div>
      </div>
    </div>

  </body>
</html>
