@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --dark-grey: #161616;
  --grey: #aaa;
  --light-grey: #ececec;
  --lighter-grey: #f7f7f7;

  --primary-dark: #618833;
  --primary: #cddc39;
  --primary-light: #cddc3922;

  --accent-dark: #b26a00;
  --accent: #ff9100;
  --accent-light: #ff910022;

  --warning: #ff1744;

  --blue-dark: #1769aa;
  --blue: #2196f3;
  --blue-light: #2196f322;

  --unprocessed: #ff0033;
  --pending: #ff9100;
  --verified: #cddc39;
}

#list-body {
  position: relative;
  width: 100%;

  padding: 0px;
  margin: auto;

  text-align: center;
  font-family: 'Open Sans',sans-serif;

  background: var(--light-grey);
}

#video-body {
  position: relative;
  width: 100vw;
  height: 100vh;

  padding: 0px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-family: 'Open Sans',sans-serif;

  background: var(--light-grey);
}

#card {
  position: relative;
  display: block;

  margin: 45px auto;
  padding: 0px;

  width: auto;
  height: auto;
  border-radius: 10px;
  overflow: hidden;

  background: white;
  transition: 0.2s;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#list-body #card {
  width: 80%;
}

#card-canvas, #canvas {
  position: relative;
  display: block;

  margin: auto;
  padding: 0px;

  width: auto;
  height: auto;
}

#card-controls {
  position: relative;
  display: grid;

  grid-template-columns: repeat(5, 1fr);

  margin: auto;
  padding: 0px;

  width: 100%;
  height: auto;
}

#card-submit-controls {
  position: relative;
  display: grid;

  grid-template-columns: 1fr;

  margin: auto;
  padding: 0px;

  width: 100%;
  height: auto;

  overflow: hidden;
}

button {
  border: none;
  padding: 10px 15px;

  cursor: pointer;

  font-size: 25px;
  background: none;
  color: white;

  transition: 0.2s;
}
button:active {
  border: none;
}

#SUBMIT {
  background-color: var(--primary);
  transition: 0.2s;
}
#SUBMIT:hover {
  background-color: var(--primary-dark);
}
#SUBMIT:disabled,
#SUBMIT[disabled] {
  background-color: var(--primary-light);
  cursor: default;
}

#FIRST, #PREV, #NEXT, #BACK {
  background-color: var(--accent);
  transition: 0.2s;
}
#FIRST:hover, #PREV:hover, #NEXT:hover, #BACK:hover {
  background-color: var(--accent-dark);
}
#FIRST:disabled,  #PREV:disabled,  #NEXT:disabled,  #BACK:disabled,
#FIRST[disabled], #PREV[disabled], #NEXT[disabled], #BACK[disabled] {
  background-color: var(--accent-light);
  cursor: default;
}

#PREVIEW, #FPC, #status-button, #LOAD {
  background-color: var(--blue);
  transition: 0.2s;
}
#PREVIEW:hover, #FPC:hover, #status-button:hover, #LOAD:hover {
  background-color: var(--blue-dark);
}
#PREVIEW:disabled,  #FPC:disabled,  #status-button:disabled,
#PREVIEW[disabled], #FPC[disabled], #status-button[disabled] {
  background-color: var(--blue-light);
  cursor: default;
}

#LOAD:disabled,
#LOAD[disabled] {
  background-color: var(--blue-dark);
  cursor: default;
}

#LOAD:disabled > i,
#LOAD[disabled] > i {
  animation: spin 3s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#card-list #card-list-row:nth-child(odd) {
  background: white;
}
#card-list #card-list-row:nth-child(even) {
  background: var(--lighter-grey);
}

#card-list {
  position: relative;
  display: grid;

  grid-template-columns: 1fr;
  grid-gap: 0px;
}

#card-header {
  position: relative;
  display: grid;

  padding: 0px;
  margin: 0px;

  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;

  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  background-color: var(--dark-grey);
}

#card-list-link {
  background-color: var(--blue);
}
#card-list-link:hover {
  background-color: var(--blue-dark);
}

#card-list-row {
  position: relative;
  display: grid;

  padding: 0px;
  margin: 0px;

  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;

  justify-content: center;
  align-items: center;
  text-align: center;
}

#card-list-id {
  text-align: center;
  padding: 15px;

  color: var(--grey);
}

#card-list-status {
  position: relative;
  display: block;
  margin: auto;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  text-align: center;
}

#card-list-status-wrapper {
  position: relative;
  display: grid;

  grid-template-columns: 2fr 1fr;
}

.unprocessed {
  background-color: var(--unprocessed);
}
.pending {
  background-color: var(--pending);
}
.verified {
  background-color: var(--verified);
}

#STATUS {
  position: relative;
  display: block;

  width: 100%;
  height: 20px;

  animation: loading .5s linear infinite;
  background-image: repeating-linear-gradient(-45deg, #00000022, #00000022 11px, #00000000 10px, #00000000 20px);
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 29px 0;
  }
}

#STATUS-TEXT {
  position: absolute;
  top: 0px;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  align-items: center;

  font-size: 12px;
  color: var(--dark-grey);
}

#STATUS-TEXT div {
  border-left: solid 1px var(--dark-grey);
}
#STATUS-TEXT div:nth-child(1) {
  border-left: none;
}

#STATUS-HEALTH {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: var(--unprocessed);

  width: 33.33%;
  height: 100%;

  transition: 0.2s;
}
.STATUS-LEFT {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}

#card-progression {
  position: relative;
  width: 100%;
  height: 20px;

  animation: loading .5s linear infinite;
  background-image: repeating-linear-gradient(-45deg, #00000022, #00000022 11px, #00000000 10px, #00000000 20px);
}
#card-progression-health {
  position: relative;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 0%;

  background-color: var(--verified);
  transition: 0.2s;
}
#card-progression-text {
  position: absolute;
  top: 0px;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
  align-items: center;

  font-size: 12px;
  color: var(--dark-grey);
}

#outside-controls {
  position: absolute;
  left: 0px;

  display: flex;
  flex-direction: column;
}

#BACK, #LOAD {
  margin: 10px auto;
}

#little-card {
  position: relative;
  display: block;

  margin: 45px auto;
  padding: 0px;

  width: 33.33%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;

  background: white;
}

#FPC, #status-button {
  font-family: 'Open Sans',sans-serif;
  font-size: 25px;
  font-weight: bold;

  border: none;
  cursor: pointer;

  padding: 0px 15px;

  color: white;
  transition: 0.2s;
}
