@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --dark-grey: #161616;
  --light-grey: #ececec;

  --primary-dark: #618833;
  --primary: #cddc39;
  --primary-light: #cddc3922;

  --accent-dark: #b26a00;
  --accent: #ff9100;
  --accent-light: #ff910022;

  --warning: #ff1744;

  --blue-dark: #1769aa;
  --blue: #2196f3;
  --blue-light: #2196f322;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;

  padding: 0px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-family: 'Open Sans',sans-serif;

  background: var(--light-grey);
}

#card {
  position: relative;
  display: block;

  margin: auto;
  padding: 0px;

  width: auto;
  height: auto;
  border-radius: 10px;

  background: white;
}

#card-canvas, #canvas {
  position: relative;
  display: block;

  margin: auto;
  padding: 0px;

  width: auto;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

#card-controls {
  position: relative;
  display: grid;

  grid-template-columns: repeat(5, 1fr);

  margin: auto;
  padding: 0px;

  width: 100%;
  height: auto;
  border-radius: 0px 0px 10px 10px;

  overflow: hidden;
}

button {
  border: none;
  padding: 10px 15px;

  cursor: pointer;

  font-size: 25px;
  background: none;
  color: white;

  transition: 0.2s;
}
button:active {
  border: none;
}

#ADD {
  background-color: var(--primary);
}
#ADD:hover {
  background-color: var(--primary-dark);
}
#ADD:disabled,
#ADD[disabled] {
  background-color: var(--primary-light);
  cursor: default;
}

#FIRST, #PREV, #NEXT {
  background-color: var(--accent);
}
#FIRST:hover, #PREV:hover, #NEXT:hover {
  background-color: var(--accent-dark);
}
#FIRST:disabled,  #PREV:disabled,  #NEXT:disabled,
#FIRST[disabled], #PREV[disabled], #NEXT[disabled] {
  background-color: var(--accent-light);
  cursor: default;
}

#PLAY {
  background-color: var(--blue);
}
#PLAY:hover {
  background-color: var(--blue-dark);
}
#PLAY:disabled,
#PLAY[disabled] {
  background-color: var(--blue-light);
  cursor: default;
}
